@media only screen and (min-width:768px) and (max-width:1110px){
    .content{
        margin-left: 90px;  
        width: 40%; 
    }
    .material-icons{
        font-size: 50px;
        margin-left: 100px;
        margin-top: -70px;
    }
    .services{
    
        height: 500px;
        margin-bottom: 10px;
    }
    .contact_box1{
        
        padding: 11px;
        height: 92px;
        font-size: 14px;
        width: 36%;
    }
    
}


/* Android Device */

@media only screen and (min-width:480px) and (max-width:767px){
    .content{
        margin-left: 60px;  
        width: 40%; 
    }
    .logo h1{
        font-size: 20px;
    }
    .content h2{
        font-size: 22px;
    }
    .button a{
        margin-left: 25px;
        padding: 0px 2px;
        font-size: 15px;
    } 
    .services{
    
        height: 832px;
        margin-bottom: 50px;
    }
    .second_section p{
        font-size: 15px;
    }

    .material-icons{
        font-size: 50px;
        margin-left: 50px;
        margin-top: -70px;
    }
    .box1{
        padding: 8px;
        margin-top: 15px;
        margin-left: 10px;
    }
    .box1 p{
        font-size: 15px;
        line-height: 25px;
    }
    .contact_box1{
        
        padding: 14px;
        height: 85px;
        font-size: 14px;
        width: 44%;
        line-height: 19px;
    }
    .contact_box2 input{
        font-size: 14px;
    }
}

/* Normarl Mobile Device */

@media only screen and (min-width:200px) and (max-width:479px){
    
    .logo h1{
        font-size: 18px;

    }
    .content{
        margin-left: 50px;  
        width: 40%; 
    }
    .services{
    
        height: 510px;
        margin-bottom: 50px;
    }
    .second_section p{
        font-size: 15px;
    }

    .content h2{
        font-size: 22px;
    }
    .button a{
        margin-left: 25px;
        font-size: 13px;
        padding: 0px 2px;
    }
    .material-icons{
        font-size: 50px;
        margin-left: 30px;
        margin-top: -70px;
    }
    .box{
        margin-top: 0px;
    }
    .box1{
        padding: 8px;
        margin-top: 15px;
        margin-left: 10px;
    }
    .box1 p{
        font-size: 15px;
        line-height: 20px;
    }
    .contact_section{
        width: 97%;
    }
    .contact_box2 input{
        font-size: 16px;
    }
    .contact_box1{
        
        padding: 14px;
        height: 85px;
        font-size: 14px;
        width: 36%;
        line-height: 19px;
    }
    .contact_box2 input{
        font-size: 12px;
    }
}